{% extends 'root/base.html' %}
{% load static %}

{% block optionalCSS %}
    <link href="{% static 'root/css/borrar-alerta.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
{% load feature_flags %}
{% flag_enabled 'Modulo_Empresas' as my_flag %}
<div class="text-md-left text-center">
    <h2>Empresas
        {% if 'eliminar_empresa' in request.session.permissions %}
            <button type="button" class="btn btn-secondary text-dark border-0" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Visualice y administre las empresas registradas.">
                    <i class="fa fa-question-circle fa-lg"></i>
            </button>
        {% elif  'crear_empresa' in request.session.permissions %}
            <button type="button" class="btn btn-secondary text-dark border-0" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Agregue, visualice y consulte la información de las empresas registradas.">
                    <i class="fa fa-question-circle fa-lg"></i>
            </button>
        {% endif %}
    </h2>
    {% if my_flag %}
    <div class="text-center text-md-right mt-2">
        {% if 'crear_empresa' in request.session.permissions %}
            <a id="btn-agregar-empresa" class="btn btn-success" data-container="body" href="#"
               data-toggle="modal" data-target="#modal-crear-empresa">
                <i class="nc-icon nc-simple-add"></i> Empresa
            </a>
        {% endif %}
    </div>
    <div id="table" class="table-responsive table-full-width ">
        <table class="table table-hover e-bordered table-responsive-md table-striped" id="tabla_empresas">
        <thead>
            <th class="text-center">Nombre <i class="fa fa-sort"></i></th>
            <th class="text-center">Telefono <i class="fa fa-sort"></i></th>
            <th class="text-center">Responsable Resultados <i class="fa fa-sort"></i></th>
            <th class="text-center">Correo Resultados <i class="fa fa-sort"></i></th>
            <th class="text-center">Responsable Pagos <i class="fa fa-sort"></i></th>
            <th class="text-center">Correo Pagos <i class="fa fa-sort"></i></th>
            {% if request.session.userrole == 'Director' or request.session.userrole == 'Gerente' %}
                <th data-container="body" data-toggle="popover" data-trigger="hover" data-placement="left"
                    data-content="Visualice, modifique o elimine una empresa">
                    Acciones <i class="fa fa-question-circle fa-lg"></i>
                </th>
            {% else %}
                <th data-container="body" data-toggle="popover" data-trigger="hover" data-placement="left"
                    data-content="Visualice los datos de una empresa">
                    Acciones <i class="fa fa-question-circle fa-lg"></i>
                </th>
            {% endif %}
        </thead>
        <tbody>
            {% for e in empresas %}
                <tr id="empresa-{{e.id}}">
                    <td>{{e.empresa}}</td>
                    <td>{{e.telefono}}</td>
                    <td>{{e.responsable_resultados}}</td>
                    <td>{{e.correo_resultados}}</td>
                    <td>{{e.responsable_pagos}}</td>
                    <td>{{e.correo_pagos}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" onclick="cargar_info_empresa({{e.id}})" data-toggle="modal" data-target="#modal_info_empresa">
                            <i class="fas fa-eye"></i>
                        </button>
                        {% if e.empresa != 'IFC' and 'eliminar_empresa' in request.session.permissions %}
                            <button id="btn-trash" type="button" class="btn btn-danger d-inline" onclick="eliminar_info_empresa({{e.id}})" data-toggle="modal" data-target="#modal-eliminar-empresa">
                                <i class='fas fa-trash'></i>
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    {% else %}
    {% include 'root/feature_not_ready.html' %}
    {% endif %}
</div>

{% include '.././modals/modal_info_empresa.html' %}
{% include '.././modals/eliminar_empresa.html' %}
{% include '.././modals/crear-empresa.html' %}

{% endblock content %}

{% block optionalJS %}
    <script src="{% static 'cuentas/js/empresa.js' %}" type="text/javascript"></script>
    <script src="{% static 'cuentas/js/tabla_empresas.js' %}" type="text/javascript"></script>
    <script src="{% static 'cuentas/js/notificar_empresa.js' %}" type="text/javascript"></script>
    <script src="{% static 'cuentas/js/crear_empresa_lista_empresas.js' %}" type="text/javascript"></script>
{% endblock %}
