{% extends 'root/base_login.html' %}
<script>
  {% block jquery%}
  {% endblock %}
</script>

<!--Este es el front end de la forma de login-->
{% block content %}

<div class="back_image w-100 position-relative">
        <div class="login_padding d-flex justify-content-center position-absolute">
            <div class="px-sm-5 col-sm-12 col-md-8 col-lg-6 mx-auto">
                <div class="card card_color">
                    <div class="card-body ">
                        <div class="text-center">
                            <h2 class="px-sm-1 px-md-2 h1-sm-50">Iniciar Sesión</h2>
                            {% if success %}
                                <div class="alert alert-success alert-dismissible fade show">
                                    {{ success }}
                                     <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div> <!-- Cerrar alert warning -->
                            {% endif %}
                            {% if error %}
                                <div class="alert alert-danger alert-dismissible fade show">
                                    {{ error }}
                                     <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div> <!-- Cerrar alert warning -->
                            {% endif %}
                        </div> <!--Cerrar card-header -->
                        <form action="../verify_login/" method="post">
                            {% csrf_token %}
                            <div class="card_padding pb-4">
                                <div class="form-group text-left">
                                    <label for="login_email">Correo</label>
                                    <input type="email" class="form-control" placeholder="correo@ejemplo.com" name="mail">
                                    <label for="password">Contraseña</label>
                                    <input type="password" class="form-control" name="password">
                                </div>  <!--Cerrar form-group -->
                                <br>
                                <div class="text-center">
                                    <input type="submit" class="btn btn-secondary align-center" value="Ingresar">
                                </div>
                            </div> <!-- Cerrar vard padding-->
                        </form>
                    </div><!-- Cerrar card-body-->
                </div><!-- Cerrar card card_color-->
            </div>
        </div>
</div>
{% endblock %}
