<!-- Modal que forma parte de la USV04-04 -->
{% load static %}

<div class="modal fade" id="ver_cotizacion" tabindex="-1" role="dialog" style="top:-20% !important;" aria-labelledby="ver_cotizacion_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="pdf-content">
            <div class="modal-header">
                <img src="{% static 'ventas/img/logo.jpg' %}" class="w-25" alt="logo" id="terminos-img">
                <h2 class="modal-title w-100 text-center" id="title-ver-cotizacion">COTIZACIÓN #<span id="ver_id_cot"></span></h2>
            </div>
            <div class="modal-body" id="seccion_validacion">
                <div id="alert-error-edit-cot" class="alert alert-danger d-none">
                    <span><strong>¡Error! </strong> Selecciona al menos un análisis</span>
                </div>
                <div class="container d-block" id="ver-resumen-cot">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 p-0">
                            <span>Fecha de creación: </span><span class="text-secondary" id="fecha"> 99/99/9999</span>
                          </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 col-md-8 p-0">
                          <span>Vendedor: </span><span class="text-secondary" id="vendedor">El Vendedor</span>
                      </div>
                      <div class="col-sm-12 col-md-4 p-0">
                        <span>Teléfono vendedor: </span><span class="text-secondary" id="telefono_vendedor">123456789</span>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-8 p-0">
                            <span>Cliente: </span><span class="text-secondary" id="cliente_nombre">El Cliente</span>
                        </div>
                        <div class="col-sm-12 col-md-4 p-0">
                            <span>Empresa: </span><span class="text-secondary" id="cliente_empresa">IFC</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-8 p-0">
                            <span>Correo: </span><span class="text-secondary" id="cliente_correo">cliente@cliente.com</span>
                        </div>
                        <div class="col-sm-12 col-md-4 p-0">
                            <span>Teléfono: </span><span class="text-secondary" id="cliente_telefono">1239876543</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-8 p-0">
                            <span>Fecha de vigencia: </span><span class="text-secondary" id="fecha_vigencia">99/99/9999</span>
                        </div>
                    </div>
                    <div class="text-center">
                        <h3>Análisis</h3>
                    </div>
                    <div class="row border">
                        <table class="table" id="analisis_tabla">
                            <thead class="tabla-analisis-encabezado">
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Duración</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio Unitario</th>
                                    <th scope="col">% dto.</th>
                                    <!--th scope="col">% IVA</th-->
                                    <th scope="col">Total Análisis</th>
                                    <th scope="col">Q</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <small>*Q = Acreditación.</small>
                    </div>
                    <br>
                    <div class="row">
                        <span>Subtotal: $ </span><span class="text-secondary" id="n_subtotal"> - </span>
                    </div>
                    <div class="row">
                        <span id="envio-span">Costo de Envío: $ </span><span class="text-secondary" id="n_envio"> - </span>
                    </div>
                    <div class="row">
                        <span id="desc-span">Descuento: $ </span><span class="text-secondary" id="n_descuentos"> - </span>
                    </div>
                    <div class="row">
                        <span">IVA: $ </span><span class="text-secondary" id="n_iva"> - </span>
                    </div>
                    <div class="row border border-success bg-success">
                        <span >TOTAL: $</span><span class="text-black" id="n_total"> - </span>
                    </div>
                    <br>
                    <div class="container" id="terminos" style="font-size: 10px;">
                        <p style="font-size: 10px;">
                            OBSERVACIONES TÉCNICAS:
                        </p>
                        <ol>
                            <li>Asegurar que las muestras enviadas NO EXCEDAN de 72 hrs a su destino.</li>
                            <li>Mantener las muestras en cajas de unicel y con refrigerantes para mantenerlas frescas.</li>
                            <li>Verificar que las bolsas sean estériles para transportar el producto para análisis microbiológicos, así mismo verificar que estén cerradas herméticamente para evitar derrames y contaminación cruzada entre ellas.</li>
                            <li>Cada muestra debe de estar debidamente identificada de acuerdo a la hoja de registro enviada electrónicamente en el formato Excel.</li>
                            <li>En el caso que se requiera realizar análisis específico, se deberá marcar claramente en las hojas de identificación la opción otros y en detalle indicar la o las materias activas dA23e su interés y serán cotizadas por aparte según requerimientos.</li>
                        </ol>

                        <p style="font-size: 10px;">
                            OBSERVACIONES COMERCIALES:
                        </p>
                        <ol>
                            <li>Asegurar de que todas las muestras de plaguicidas y muestras para metales pesados sean enviadas a Querétaro por la mensajería deseada o coordinar recolecta con dos días de anticipación (5 muestras como mínimo).</li>
                            <li>Los resultados de su muestra debe de estar liquidados, el total de su factura correspondiente.</li>
                            <li>La factura será enviada vía electrónica previa a la liberación de los resultados para la programación del pago previa a la entrega del resultado.</li>
                            <li>Es necesario contar con copia de la cédula fiscal (RFC y dirección fiscal) para poder hacerle llegar su referencia bancaria para depósito y factura correspondiente.</li>
                        </ol>
                        <p style="font-size: 10px;">Realizar el pago y enviar vía electrónica su comprobante para liberar el resultado.</p>
                        <p style="font-size: 10px;">Forma de pago: previo al envío de los resultados.</p>
                        <p style="font-size: 10px;">Cuenta Bancaria a nombre de INTERNATIONAL FOODS CONTROL SA DE CV</p>
                        <p style="font-size: 10px;">BANAMEX - Sucursal: 7007 - Número de Cuenta: 3703342 - CLABE: 002680700737033424</p>
                        <ul>
                            <li>Costo de envío Internacional: $2,035.00</li>
                            <li>Estos precios no incluyen I.V.A.</li>
                            <li>Este precio se respetará con la firma autorizada por parte de ______ válida por 30 días y se mantendrán a partir de la firma de este convenio durante todo el proyecto ______.</li>
                            <li>Se otorgará 8 días de crédito una vez liberado el informe.</li>
                            <li>La facturación se realizará en base a la aceptación del presente presupuesto, y en lo estampado en las hojas de identificación que acompañan a las muestras.</li>
                            <li>En caso de existir diferencia entre el presupuesto y los análisis solicitados en la Hoja de Identificación, primará las determinaciones solicitadas en la hoja de identificación, y se facturará con base en esto último.</li>
                            <li>El horario de recepción de muestras es de lunes a viernes entre 9:00 y 18:00 hrs. El envío de la muestra a las oficinas comerciales, es indicativo que solicitan el análisis por lo que se deberá pagar el análisis cuando ya se le haya notificado vía electrónica que se recibieron y se analizarán.</li>
                            <li>Si trabaja todo el año con nosotros, no hay costo de envío internacional.</li>
                        </ul>
                        <table>
                            <tr>
                                <td>Fecha:</td>
                                <td>____________________________________________</td>
                            </tr>
                            <tr>
                                <td>Nombre del solicitante:</td>
                                <td>____________________________________________</td>
                            </tr>
                            <tr>
                                <td>Firma del solicitante:</td>
                                <td>____________________________________________</td>
                            </tr>
                        </table>
                    </div>
                    <div class="border border-seconday">
                        <p style="font-size: 10px;" class="text-center">Av. Armando Birlain Schaffler #2001 Torre1, Piso 8-C. Col. Centro Sur C.P. 76090  Querétaro, Querétaro, México. <br>Email. ifcfacturas@hotmail.com / info@internationalfoodscontrol.com  <br>  Tel. (442) 2609110 / 3889003 <br> <i class="fab fa-whatsapp"></i> (442) 4129267</p>

                    </div>
                </div>
                <div class="container d-none" id="editar-resumen-cot">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="true">Información</a>
                            <a class="nav-item nav-link" id="nav-analisis-tab" data-toggle="tab" href="#nav-analisis" role="tab" aria-controls="nav-analisis" aria-selected="false">Análisis</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                            <div class="row">
                                <div class="form-group col-12">
                                    <label>Cliente</label>
                                    <select class="form-control" id="editar-cot-cliente">
                                        {% for cl in clientes %}
                                            <option value="{{ cl.id }}">{{ cl.nombre }} {{ cl.apellido_paterno }} {{ cl.apellido_materno }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="table-responsive table-full-width mx-auto w-100" style="overflow-y: auto;">
                                    <table class="table table-responsive table-hover">
                                        <thead>
                                            <th>Código</th>
                                            <th>Nombre</th>
                                            <th>Precio</th>
                                            <th>Cantidad</th>
                                            <th>% Descuento</th>
                                            <!--th>% IVA</th-->
                                            <th>Total Análisis</th>
                                            <th>Acción</th>
                                        </thead>
                                        <tbody id="editar-cot-tabla-analisis-resumen">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="subtotal">Subtotal</label>
                                    <input type="number" class="form-control" id="editar-cot-subtotal" readonly>
                                    <div class="invalid-feedback">
                                        El SubTotal no puede estar vacío
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="envio">Costo de Envío</label>
                                    <input type="number" class="form-control" id="editar-cot-envio" name="editar-cot-envio" value="0" min="0" onchange="calc_total()">
                                    <div class="invalid-feedback">
                                        Por favor introduce un costo de envío
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label data-toggle="popover" data-trigger="hover" data-placement="left" data-content="El envío nacional suma un 16% de IVA" for="envio">Tipo de envío <i class="fa fa-question-circle fa-lg"></i></label>
                                    <select class="form-control" id="tipo-envio-edit" name="tipo-envio-edit" onchange="calc_total()">
                                        <option value="internacional">Internacional</option>
                                        <option value="nacional">Nacional</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor introduce un costo de envío
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="total">Total</label>
                                    <input type="number" class="form-control" id="editar-cot-total" readonly>
                                    <div class="invalid-feedback" style="color:black">
                                        El total no puede estar vacío
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-analisis" role="tabpanel" aria-labelledby="nav-analisis-tab">
                            <div class="table-responsive table-full-width">
                                <table class="table table-hover table-responsive table-striped" id="editar-cot-tabla-analisis">
                                    <thead>
                                        <th>Código</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Tiempo Aprox.</th>
                                        <th>Acreditación</th>
                                        <th onclick="edit_refresh_check()" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Si tenía análisis seleccionados y no aparecen haga clic aquí para refrescar.">Agregar <i class="fa fa-question-circle fa-lg"></th>
                                    </thead>
                                    <tbody>
                                        {% for a in analisis %}
                                        <tr class="analisis-row">
                                            <td>{{ a.codigo }}</td>
                                            <td>{{ a.nombre }}</td>
                                            <td>${{ a.precio }}</td>
                                            <td>{{ a.tiempo }}</td>
                                            {% if a.acreditacion %}
                                            <td><span class="text-success">SI</span></td>
                                            {% else %}
                                            <td><span class="text-secondary">NO</span></td>
                                            {% endif %}
                                            <td class="text-center">
                                                <input class="form-check-input" data-id="{{ a.id_analisis }}" name="editar-cot-an[]" type="checkbox" value="{{ a.id_analisis }}">
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="btn-espacio" class="modal-footer">
                <button id="btn-canc-edit-cot" class="btn btn-danger d-none">Cancelar</button>
                <button id="btn-guar-editar-cot" onclick="guardar_cambios_cot()" class="btn btn-success d-none">Guardar</button>
                {% if 'descargar_cotizacion_pdf' in request.session.permissions %}
                    <button id="imprimir-pdf" class="btn btn-success" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Imprima o descargue la información de una cotización en formato PDF.">Imprimir / Descargar PDF</button>
                {% endif %}
                {% if 'actualizar_cotizacion' in request.session.permissions %}
                    <button id="btn-space-edit" class="btn btn-danger" style="visibility:hidden"></button>
                    <button id="btn-editar-cot" class="btn btn-info d-inline" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Edite la información de la cotización.">Editar</button>
                {% endif %}
            </div>

        </div>
    </div>
</div>
