<!-- Modal que forma parte de la USV04-04 -->
<div class="modal fade" id="ver_cotizacion" tabindex="-1" role="dialog" style="top:-20% !important;" aria-labelledby="ver_cotizacion_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title w-100 text-center" id="title-ver-cotizacion">COTIZACIÓN #<span id="ver_id_cot"></span></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="seccion_validacion">
                <div id="alert-error-edit-cot" class="alert alert-danger d-none">
                    <span><strong>¡Error! </strong> Selecciona al menos un análisis</span>
                </div>
                <!-- Información de cotizacion -->
                <div class="container d-block" id="ver-resumen-cot">
                    <div class="row">
                        <span>Fecha de creación: </span><span class="text-secondary" id="fecha"> 99/99/9999</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 p-0">
                            <span>Cliente: </span><span class="text-secondary" id="cliente_nombre">El Cliente</span>
                        </div>
                        <div class="col-sm-12 col-md-6 p-0">
                            <span>Vendedor: </span><span class="text-secondary" id="vendedor">El Vendedor</span>
                        </div>
                    </div>
                    <div class="text-center">
                        <h3>Análisis</h3>
                    </div>
                    <div class="row table-responsive border border-dark">
                        <table class="table" id="analisis_tabla">
                            <thead>
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <span>Subtotal: $</span><span class="text-secondary" id="n_subtotal">200.00</span>
                    </div>
                    <div class="row">
                        <span>IVA: </span><span class="text-secondary" id="n_iva"> 16% ($ 32.00)</span>%
                    </div>
                    <div class="row">
                        <span>Descuento: </span><span class="text-secondary" id="n_descuento">10</span>%
                    </div>
                    <div class="row border border-success bg-success">
                        <span>TOTAL: $</span><span class="text-white" id="n_total">212.00</span>
                    </div>
                </div>
                <!-- Editar cotizacion -->
                <div class="container d-none" id="editar-resumen-cot">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="true">Información</a>
                            <a class="nav-item nav-link" id="nav-analisis-tab" data-toggle="tab" href="#nav-analisis" role="tab" aria-controls="nav-analisis" aria-selected="false">Análisis</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                            <div class="row">
                                <div class="form-group col-12">
                                    <label>Cliente</label>
                                    <select class="form-control" id="editar-cot-cliente">
                                        {% for cl in clientes %}
                                            <option value="{{ cl.id }}">{{ cl.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="table-responsive table-full-width mx-auto w-100">
                                    <table class="table table-responsive table-hover">
                                        <thead>
                                            <th>Código</th>
                                            <th>Nombre</th>
                                            <th>Precio</th>
                                            <th>Cantidad</th>
                                            <th>Acción</th>
                                        </thead>
                                        <tbody id="editar-cot-tabla-analisis-resumen">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <label for="subtotal">Subtotal</label>
                                    <input type="number" class="form-control" id="editar-cot-subtotal" readonly>
                                    <div class="invalid-feedback">
                                        El SubTotal no puede estar vacío
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="descuento">% Descuento</label>
                                    <input type="number" class="form-control" id="editar-cot-descuento" value="0" min=0 max=100>
                                    <div class="invalid-feedback">
                                        Por favor introduce una valor para el descuento
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="iva">% IVA</label>
                                    <input type="number" class="form-control" id="editar-cot-iva" value="16" min=0 max=100>
                                    <div class="invalid-feedback">
                                        Por favor introduce una valor para el IVA
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="total">Total</label>
                                    <input type="number" class="form-control" id="editar-cot-total" readonly>
                                    <div class="invalid-feedback">
                                        El total no puede estar vacío
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-analisis" role="tabpanel" aria-labelledby="nav-analisis-tab">
                            <div class="table-responsive table-full-width">
                                <table class="table table-hover table-responsive table-striped" id="editar-cot-tabla-analisis">
                                    <thead>
                                        <th>Código</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Tiempo Aprox.</th>
                                        <th>Acciones</th>
                                        <th>Checkbox</th>
                                    </thead>
                                    <tbody>
                                        {% for a in analisis %}
                                        <tr class="analisis-row">
                                            <td>{{ a.codigo }}</td>
                                            <td>{{ a.nombre }}</td>
                                            <td>${{ a.precio }}</td>
                                            <td>{{ a.tiempo }}</td>
                                            <td>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#"><i class="fa fa-eye tabla-icon"></i></button>
                                            </td>
                                            <td class="text-center">
                                                <input class="form-check-input" data-id="{{ a.id_analisis }}" name="editar-cot-an[]" type="checkbox" value="{{ a.id_analisis }}">
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Confirmar edicion de cotizacion -->
                <div class="container d-none" id="confirm-edit-cot">
                    <h3 class="w-100 text-center text-danger">¿Estás seguro de realizar los siguientes cambios?</h3>
                    <div class="row">
                        <span>Fecha de creación: </span><span class="text-secondary" id="fecha-confirm-edit-cot"> 99/99/9999</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 p-0">
                            <span>Cliente: </span><span class="text-secondary" id="cliente_nombre-confirm-edit-cot">El Cliente</span>
                        </div>
                        <div class="col-sm-12 col-md-6 p-0">
                            <span>Vendedor: </span><span class="text-secondary" id="vendedor-confirm-edit-cot">El Vendedor</span>
                        </div>
                    </div>
                    <div class="text-center">
                        <h3>Análisis</h3>
                    </div>
                    <div class="table-responsive table-full-width mx-auto w-100">
                        <table class="table table-responsive table-hover">
                            <thead>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Acción</th>
                            </thead>
                            <tbody id="confirm-analisis-table">

                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <span>Subtotal: $</span><span class="text-secondary" id="n_subtotal-confirm-edit-cot">200.00</span>
                    </div>
                    <div class="row">
                        <span>IVA: </span><span class="text-secondary" id="n_iva-confirm-edit-cot"> 16% ($ 32.00)</span>%
                    </div>
                    <div class="row">
                        <span>Descuento: </span><span class="text-secondary" id="n_descuento-confirm-edit-cot">10</span>%
                    </div>
                    <div class="row border border-success bg-success">
                        <span>TOTAL: $</span><span class="text-white" id="n_total-confirm-edit-cot">212.00</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {% if  request.session.userrole == 'Ventas' or request.session.userrole == 'SuperUser' %}
                <button id="btn-editar-cot" class="btn btn-info d-inline">Editar</button>
                {% endif %}
                <button id="btn-canc-edit-cot" class="btn btn-danger d-none">Cancelar</button>
                <button id="btn-canc-edit-cot-2" class="btn btn-danger d-none">Volver a editar</button>
                <button id="btn-guar-editar-cot" onclick="guardar_cambios_cot()" class="btn btn-success d-none">Confirmar</button>
                <button id="btn-confirm-editar-cot" onclick="solicitar_confirmacion_cot()" class="btn btn-success d-none">Realizar cambios</button>
            </div>
        </div>
    </div>
</div>
