<!-- Modal que forma parte de borar cotizacion -->
<div class="modal fade" id="guardar_perfil" tabindex="-1" role="dialog" aria-labelledby="guardar_perfil_modal" aria-hidden="true">
    <div class="modal-dialog modal-success modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-success">
            <div class="align-text-right pr-4 mt-3">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">×</span>
                </button>
            </div>
            <div class="modal-body text-white">
                <div class="py-3 text-center">
                    <i class="nc-icon nc-bell-55" id="delete-icon-modal"></i>
                    <h4 class="text-uppercase mt-4">Confirme los cambios</h4>
                    <p class="">
                        Si selecciona aceptar se actualizaran sus datos modificados
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="float-left">
                    <button type="button" class="btn btn-primary border-0 text-white ml-auto" data-dismiss="modal">Cancelar</button>
                </div>
                <button type="button" class="btn btn-danger bg-white border-white text-dark" onclick="confirmar_guardar_perfil()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
