<div class="modal fade" id="modal_info_usuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="exampleModalLongTitle">Información de usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form" >
                <div class="modal-body">
                    <div class="form-row">
                        <input type="hidden" class="form-control" id="id_usuario" name="id_usuario">
                        <div class="form-group col-md-6">
                            <label for="inputName">Nombre</label>
                            <input type="text" class="form-control" id="input_nombre" name="input_nombre" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Correo</label>
                          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Telefono</label>
                        <input type="text" class="form-control" id="inputTelefono" placeholder="442 5674 892">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputCity">City</label>
                          <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputEstatus">Estatus</label>
                          <select name="inputEstatus" id="inputEstatus" class="form-control">
                            <option name="NA" id="NA">NA</option>
                            <option name="Deudor" id="Deudor">Deudor</option>
                            <option name="Pagado" id="Pagado">Pagado</option>
                          </select>
                        </div> 
                    </div>
                    <div class="form-row">
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-sm table-bordered table-striped mb-0" id="tabla_usuario" name="tabla_usuario">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Estatus</th>
                                    </tr>
                                </thead>
                                <tbody id="tabla_cont" name="tabla_cont"> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button name="submitForm" id="submitForm" type="button" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>