<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCliente">Cliente</label>
            <select class="custom-select">
                <option selected>Selecciona un cliente</option>
            </select>
            <div class="invalid-feedback">
                Por favor selecciona un cliente
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="inputAnalisis">Análisis</label>
            <input type="text" class="form-control" id="crear-cotizacion-analisis" placeholder="Análisis 1">
            <div class="invalid-feedback">
                Por favor selecciona un análisis
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputDescuento">Descuento</label>
            <input type="text" class="form-control" id="crear-cotizacion-descuento" value="0" placeholder="35">
            <div class="invalid-feedback">
                Por favor introduce un valor de descuento
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="inputSubTotal">Subtotal</label>
            <input type="text" class="form-control" id="crear-cotizacion-subtotal" readonly="readonly">
        </div>
        <div class="form-group col-md-3">
            <label for="inputIVA">IVA</label>
            <input type="text" class="form-control" id="crear-cotizacion-iva" value="0" placeholder="15">
            <div class="invalid-feedback">
                Por favor introduce un valor de IVA
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="inputTotal">Total</label>
            <input type="text" class="form-control" id="crear-cotizacion-total" readonly="readonly">
        </div>
        
    </div>
</form>