<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#info">Orden Interna</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#muestras">Muestras</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#observaciones">Observaciones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#facturacion">Facturación</a>
    </li>
</ul>
<form>
    <div class="tab-content">
        <div class="tab-pane container active" id="info">
            <table>
                <tr>
                    <th>Estatus: </th>
                    <td>{{ iform.estatus }}</td>
                </tr>
                <tr>
                    <th>Fecha muestreo: </th>
                    <td>{{ iform.fecha_muestreo }}</td>
                </tr>
            </table>
        </div>
        <div class="tab-pane container fade" id="muestras">
            <p>Aki va la wea de muestras</p>
        </div>
        <div class="tab-pane container fade" id="observaciones">
            <table>
                <tr>
                    <th>Localidad: </th>
                    <td>{{ iform.localidad }}</td>
                </tr>
                <tr>
                    <th>Fecha de envío: </th>
                    <td>{{ iform.fecha_envio }}</td>
                </tr>
                <tr>
                    <th>Fecha de recibo: </th>
                    <td>{{ iform.fechah_recibo }}</td>
                </tr>
                <tr>
                    <th>Guía de envío: </th>
                    <td>{{ iform.guia_envio }}</td>
                </tr>
                <tr>
                    <th>Link de resultados: </th>
                    <td>{{ iform.link_resultados }}</td>
                </tr>
            </table>
        </div>
        <div class="tab-pane container fade" id="facturacion">
            <p>Aki va la wea de facturación</p>
        </div>
    </div>
</form>

<script type="text/javascript">
    $('#id_localidad').val('{{ oi.localidad }}')
    $('#id_fecha_muestreo').val('{{ oi.fecha_muestreo }}')
    $('#id_fechah_recibo').val('{{ oi.fechah_recibo }}')
    $('#id_fecha_envio').val('{{ oi.fecha_envio }}')
    $('#id_guia_envio').val('{{ oi.guia_envio }}')
    $('#id_link_resultados').val('{{ oi.link_resultados }}')
    $('#id_estatus').val('{{ oi.estatus }}')
    $("#iF").submit(function(event) {
        alert("{{ oi.idOI }}");
        event.preventDefault();
    });
</script>