<!-- Modal que forma parte de la USP07-22D -->
<div class="modal fade" id="actualizar_oi" tabindex="-1" role="dialog" aria-labelledby="actualizar_oi_modal" aria-hidden="true">
    <div class="modal-dialog modal-success modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-success">
            <div class="modal-header">
                <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">×</span>
                </button>
            </div>
            <div class="modal-body text-white">
                <div class="py-3 text-center">
                    <i class="nc-icon nc-bell-55" id="delete-icon-modal"></i>
                    <h4 class="text-uppercase mt-4">Confirmar datos</h4>
                    <p class="">
                        ¿Deseas guardar tus cambios?
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary border-0 text-white ml-auto" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger bg-white border-white text-dark ml-3" onclick="submit()">Guardar</button>
            </div>
        </div>
    </div>
</div>