<!-- Modal -->
<div class="modal fade" id="modal_resultados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- url 'enviar_resultados' o.idOI-->
        <form method="post" action="" >
            {% csrf_token %}
            <div class="modal-body">
            ¿ Desea enviar los resultados de la Orden Interna ?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-success">Aceptar</button>
            </div>
        </form>
      </div>
    </div>
  </div>