<div class="modal fade" tabindex="-1" role="dialog" id="modal-orden-interna">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#info">Orden Interna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#muestras">Muestras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#observaciones">Observaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#facturacion">Facturación</a>
                    </li>
                </ul>
                <form>
                    <div class="tab-content">
                        <div class="tab-pane container active" id="info">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEstatus">Estatus</label>
                                    <input type="text" class="form-control" id="editar_estatus_orden" placeholder="1">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputMuestreo">Fecha de Muestreo</label>
                                    <input type="text" class="form-control" id="editar_fecha_muestra_orden" placeholder="Análisis 1">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputLocalidad">Localidad</label>
                                    <input type="text" class="form-control" id="editar_localidad_orden" placeholder="1">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEnvio">Fecha Envío</label>
                                    <input type="text" class="form-control" id="editar_fecha_envio_orden" placeholder="Análisis 1">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputRecibo">Fecha de Recibo</label>
                                    <input type="text" class="form-control" id="editar_fecha_recibo_orden" placeholder="1">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputGuía">Guía de Envío</label>
                                    <input type="text" class="form-control" id="editar_guia_orden" placeholder="Análisis 1">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputLink">Link de Resultados</label>
                                    <input type="text" class="form-control" id="editar_link_orden" placeholder="Análisis 1">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane container fade" id="muestras">
                            <p>Aki va la wea de muestras</p>
                        </div>
                        <div class="tab-pane container fade" id="observaciones">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="formato_ingreso_muestra">Formato de ingreso de muestra</label>
                                    <input type="text" class="form-control" id="formato_ingreso_muestra" placeholder="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="idioma_reporte">Idioma del reporte: </label>
                                    <p>
                                        <input type="radio" name="idioma_reporte" value="8809 ES">8809 ES
                                        <input type="radio" name="idioma_reporte" value="8992 EN">8992 EN<br>                                      
                                    </p>
                                </div>
                            </div>

                            
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="mrl">MRL</label>
                                    <input type="text" class="form-control" id="mrl" placeholder="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="fecha_eri">Fecha esperada de recibo de informes</label>
                                    <input type="text" class="form-control" id="fecha_eri" placeholder="">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="fecha_lab">Fecha de llegada al lab</label>
                                    <input type="text" class="form-control" id="fecha_lab" placeholder="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="fecha_ei">Fecha de envío de informes</label>
                                    <input type="text" class="form-control" id="fecha_ei" placeholder="">
                                </div>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="Sí" id="notif_e">
                                    <span class="form-check-sign"></span>
                                    Notificación de envío al cliente
                                </label>
                            </div>


                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="Sí" id="envio_ti">
                                    <span class="form-check-sign"></span>
                                    Envío de todos los informes
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="Sí" id="cliente_cr">
                                    <span class="form-check-sign"></span>
                                    El cliente confirmó de recibido
                                </label>
                            </div>
    

                        </div>
                        <div class="tab-pane container fade" id="facturacion">
                            <p>Aki va la wea de facturación</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input id="submitForm" class="btn btn-success" type="button" onclick="return confirm('¿Deseas confirmar tu inscripción?')" value="Guardar" />
            </div>
        </div>
    </div>
</div>