<div class="modal fade" tabindex="-1" role="dialog" id="modal-visualizar-orden">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="ver-resumen-oi" class="d-block">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#visualizar_info">Orden Interna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#visualizar_muestras">Muestras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#visualizar_observaciones">Observaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#visualizar_facturacion">Facturación</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane container active" id="visualizar_info">
                            <h3 id="titulov_idOI"></h3>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="hidden" class="form-control" id="visualizar_idOI" name="visualizar_idOI">
                                    <label for="visualizar_estatus">Estatus</label>
                                    <input type="text" class="form-control" id="visualizar_estatus" placeholder="estatus" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="visualizar_fecha_envio">Fecha Envío</label>
                                    <input type="date" class="form-control" id="visualizar_fecha_envio" placeholder="Fecha de envío" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="visualizar_localidad">Localidad</label>
                                    <input type="text" class="form-control" id="visualizar_localidad" placeholder="Localidad" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="visualizar_guia_envio">Guía de Rastreo DHL</label>
                                    <input type="text" class="form-control" id="visualizar_guia_envio" placeholder="Guía de envío" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="visualizar_guia_envio">Pagado</label>
                                    <input type="text" class="form-control" id="visualizar_pagado" placeholder="Pagado" disabled>
                                </div>
                            </div>
                            <div class="form-row" style="display: none;">
                                <div class="form-group col-md-6">
                                    <label for="visualizar_link_resultados">Link de Resultados</label>
                                    <input type="text" class="form-control" id="visualizar_link_resultados" placeholder="Link de resultados" disabled>
                                </div>
                            </div>

                            <div id="info-cliente">
                                <label for="visualizar_usuario_empresa"><b>Empresa:</b></label>
                                <p id="visualizar_usuario_empresa" name="visualizar_usuario_empresa">Empresa no disponible</p>

                                <label for="visualizar_usuario_nombre"><b>Solicitante:</b></label>
                                <p id="visualizar_usuario_nombre" name="visualizar_usuario_nombre">Nombre no disponible</p>

                                <label for="visualizar_usuario_email"><b>Correo:</b></label>
                                <p id="visualizar_usuario_email" name="visualizar_usuario_email">Correo no disponible</p>

                                <label for="visualizar_usuario_telefono"><b>Telefono:</b></label>
                                <p id="visualizar_usuario_telefono" name="visualizar_usuario_telefono">Teléfono no disponible</p>
                            </div>

                        </div>
                        <div class="tab-pane container fade" id="visualizar_muestras">
                            <div id="accordion" class="accordion_muestras">

                            </div>
                        </div>


                        <div class="tab-pane container fade" id="visualizar_observaciones">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="visualizar_idioma_reporte">Idioma del reporte: </label>
                                    <p id="visualizar_idioma_reporte">Idioma no disponible</p>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane container fade" id="visualizar_facturacion">
                            <div id="visualizar_tabla_facturas"></div>
                        </div>
                    </div>
                </div>
                <div id="editar-info-oi" class="d-none">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#editar_info">Orden Interna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#editar_muestras">Muestras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#editar_observaciones">Observaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#editar_facturacion">Facturación</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane container active" id="editar_info">
                            <h3 id="tituloe_idOI"></h3>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="hidden" class="form-control" id="editar_idOI" name="editar_idOI">
                                    <label for="visualizar_estatus">Estatus</label>
                                    <select name="editar_estatus" id="editar_estatus" class="form-control">
                                        <option name="Fantasma" id="Fantasma" value="Fantasma">Fantasma</option>
                                        <option name="Invisible" id="Invisible" value="Invisible">Invisible</option>
                                        <option name="Creada" id="Creada" value="Creada">Creada</option>
                                        <option name="Enviada" id="Enviada" value="Enviada">Enviada</option>
                                        <option name="En laboratorio" id="En laboratorio" value="En laboratorio">En laboratorio</option>
                                        <option name="Resultados" id="Resultados" value="Resultados">Resultados</option>
                                        <!--<option name="Borrado" id="Borrado" value="Borrado">Borrado</option>-->
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="visualizar_fecha_envio">Fecha Envío</label>
                                    <input type="date" class="form-control" id="editar_fecha_envio" name="editar_fecha_envio" placeholder="Fecha de envío">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="visualizar_localidad">Localidad</label>
                                    <input type="text" class="form-control" id="editar_localidad" name="editar_localidad" placeholder="Localidad">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="visualizar_guia_envio">Guía de Rastreo DHL</label>
                                    <input type="text" class="form-control" id="editar_guia_envio" placeholder="Guía de envío">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="visualizar_estatus">Pagado</label>
                                    <select name="editar_estatus" id="editar_pagado" class="form-control">
                                        <option name="Sí" id="Sí" value="Sí">Sí</option>
                                        <option name="No" id="No" value="No">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row" style="display: none;">
                                <div class="form-group col-md-6">
                                    <label for="visualizar_link_resultados">Link de Resultados</label>
                                    <input type="text" class="form-control" id="editar_link_resultados" name="editar_link_resultados" placeholder="Link de resultados">
                                </div>
                            </div>

                            <div id="info-cliente">
                                <label for="visualizar_usuario_empresa"><b>Empresa:</b></label>
                                <p id="editar_usuario_empresa" name="editar_usuario_empresa"></p>

                                <label for="visualizar_usuario_nombre"><b>Solicitante:</b></label>
                                <p id="editar_usuario_nombre" name="editar_usuario_nombre">Nombre no disponible</p>

                                <label for="visualizar_usuario_email"><b>Correo:</b></label>
                                <p id="editar_usuario_email" name="editar_usuario_email">Correo no disponible</p>

                                <label for="visualizar_usuario_telefono"><b>Telefono:</b></label>
                                <p id="editar_usuario_telefono" name="editar_usuario_telefono">Teléfono no disponible</p>
                            </div>

                        </div>
                        <div class="tab-pane container fade" id="editar_muestras">
                            <div id="edicion" class="edicion_muestras">

                            </div>
                        </div>

                        <div class="tab-pane container fade" id="editar_observaciones">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="idioma_reporte">Idioma del reporte: </label>
                                    <p>
                                        <input type="radio" name="editar_idioma_reporte" id="editar_idioma_reporteES" value="Español">Español
                                        <input type="radio" name="editar_idioma_reporte" id="editar_idioma_reporteEN" value="Inglés">Inglés
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane container fade" id="editar_facturacion">
                            <div id="visualizar_tabla_facturas"></div>
                        </div>
                    </div>
                </div>
                <div id="confirmar-cambios-oi" class="d-none">

                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-primary d-block" id="btn-editar-oi" onclick="cargar_info_oi()">
                        Editar
                    </button>
                    <button type="button" class="btn btn-danger d-none float-left" id="btn-cancelar-editar-oi">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-primary d-none float-right" id="btn-continuar-oi">
                        Continuar
                    </button>
                    <button type="button" class="btn btn-warning d-none float-left" id="btn-regresar-oi">
                        Regresar
                    </button>
                    <button type="button" class="btn btn-success d-none float-right" id="btn-guardar-oi" onclick="submit()">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>