<div class="modal fade" tabindex="-1" role="dialog" id="modal-orden-interna">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#editar_info">Orden Interna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#editar_muestras">Muestras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#editar_observaciones">Observaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#editar_facturacion">Facturación</a>
                        </li>
                    </ul>
                        <div class="tab-content">
                            <div class="tab-pane container active" id="editar_info">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="hidden" class="form-control" id="editar_idOI" name="editar_idOI">
                                        <label for="visualizar_estatus">Estatus</label>                                        
                                        <input type="text" class="form-control" id="editar_estatus" name="editar_estatus" placeholder="Estatus">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="visualizar_fecha_envio">Fecha Envío</label>
                                        <input type="date" class="form-control" id="editar_fecha_envio" name="editar_fecha_envio" placeholder="Fecha de envío">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="visualizar_localidad">Localidad</label>
                                        <input type="text" class="form-control" id="editar_localidad" name="editar_localidad" placeholder="Localidad">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="visualizar_guia_envio">Guía de Envío</label>
                                        <input type="text" class="form-control" id="editar_guia_envio" placeholder="Guía de envío">
                                    </div>
                                </div>
                                <div class="form-row">
    
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="visualizar_link_resultados">Link de Resultados</label>
                                        <input type="text" class="form-control" id="editar_link_resultados" name="editar_link_resultados" placeholder="Link de resultados">
                                    </div>
                                </div>
    
                                <div id="info-cliente">
                                    <label for="visualizar_usuario_empresa"><b>Empresa:</b></label>
                                    <p id="editar_usuario_empresa" name="editar_usuario_empresa"></p>
    
                                    <label for="visualizar_usuario_nombre"><b>Usuario:</b></label>
                                    <p id="editar_usuario_nombre" name="editar_usuario_nombre">Nombre no disponible</p>
    
                                    <label for="visualizar_usuario_email"><b>Correo:</b></label>
                                    <p id="editar_usuario_email" name="editar_usuario_email">Correo no disponible</p>
    
                                    <label for="visualizar_usuario_telefono"><b>Telefono:</b></label>
                                    <p id="editar_usuario_telefono" name="editar_usuario_telefono">Teléfono no disponible</p>
                                </div>
    
                            </div>
                            <div class="tab-pane container fade" id="editar_muestras">
                                <div id="edicion" class="edicion_muestras">
    
                                </div>
                            </div>
    
    
                            <div class="tab-pane container fade" id="editar_observaciones">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="visualizar_formato_ingreso_muestra">Formato de ingreso de muestra</label>
                                        <input type="text" class="form-control" id="editar_formato_ingreso_muestra" name="editar_formato_ingreso_muestra" placeholder="">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="idioma_reporte">Idioma del reporte: </label>
                                        <p>
                                            <input type="radio" name="editar_idioma_reporte" id="editar_idioma_reporteES" value="8809 ES">8809 ES
                                            <input type="radio" name="editar_idioma_reporte" id="editar_idioma_reporteEN" value="8992 EN">8992 EN                                      
                                        </p>
                                    </div>
                                </div>
    
    
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="visualizar_mrl">MRL</label>
                                        <input type="text" class="form-control" id="editar_mrl" name="editar_mrl" placeholder="MRL">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="visualizar_fecha_lab">Fecha de llegada al laboratorio</label>
                                        <input type="date" class="form-control" id="editar_fecha_lab" name="editar_fecha_lab" placeholder="">
                                    </div>
                                </div>
    
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="visualizar_fecha_ei">Fecha de envío al laboratorio</label>
                                        <input type="date" class="form-control" id="editar_fecha_ei" name="editar_fecha_ei" placeholder="">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="visualizar_fecha_eri">Fecha de recibo de informes</label>
                                        <input type="date" class="form-control" id="editar_fecha_eri" name="editar_fecha_eri" placeholder="">
                                    </div>
                                </div>
    
                                
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="Sí" id="editar_notif_e" name="editar_notif_e">
                                        <span class="form-check-sign"></span>
                                        Notificación de envío al cliente
                                    </label>
                                </div>
    
    
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="Sí" id="editar_envio_ti" name="editar_envio_ti">
                                        <span class="form-check-sign"></span>
                                        Envío de todos los informes
                                    </label>
                                </div>
    
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="Sí" id="editar_cliente_cr" name="editar_cliente_cr">
                                        <span class="form-check-sign"></span>
                                        El cliente confirmó de recibido
                                    </label>
                                </div>
    
                            </div>
                            <div class="tab-pane container fade" id="editar_facturacion">
                                <div id="visualizar_tabla_facturas"></div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">Cerrar</button>
                    <input id="submitForm" class="btn btn-success ml-3" type="button" onclick="return confirm('¿Deseas confirmar la actualización?')" value="Guardar" /> 
                </div>
            </div>
        </div>
    </div>

