<div class="modal fade" tabindex="-1" role="dialog" id="modal-visualizar-orden">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#visualizar_info">Orden Interna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#visualizar_muestras">Muestras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#visualizar_observaciones">Observaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#visualizar_facturacion">Facturación</a>
                    </li>
                </ul>
                    <div class="tab-content">
                        <div class="tab-pane container active" id="visualizar_info">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="hidden" class="form-control" id="visualizar_idOI" name="visualizar_idOI">
                                    <label for="visualizar_estatus">Estatus</label>
                                    <input type="text" class="form-control" id="visualizar_estatus" placeholder="estatus" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="visualizar_fecha_envio">Fecha Envío</label>
                                    <input type="date" class="form-control" id="visualizar_fecha_envio" placeholder="Fecha de envío" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="visualizar_localidad">Localidad</label>
                                    <input type="text" class="form-control" id="visualizar_localidad" placeholder="Localidad" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="visualizar_guia_envio">Guía de Envío</label>
                                    <input type="text" class="form-control" id="visualizar_guia_envio" placeholder="Guía de envío" disabled>
                                </div>
                            </div>
                            <div class="form-row">

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="visualizar_link_resultados">Link de Resultados</label>
                                    <input type="text" class="form-control" id="visualizar_link_resultados" placeholder="Link de resultados" disabled>
                                </div>
                            </div>

                            <div id="info-cliente">
                                <label for="visualizar_usuario_empresa"><b>Empresa:</b></label>
                                <p id="visualizar_usuario_empresa" name="visualizar_usuario_empresa">IFC</p>

                                <label for="visualizar_usuario_nombre"><b>Usuario:</b></label>
                                <p id="visualizar_usuario_nombre" name="visualizar_usuario_nombre">Usuario</p>

                                <label for="visualizar_usuario_email"><b>Usuario:</b></label>
                                <p id="visualizar_usuario_email" name="visualizar_usuario_email">hockey@lalocura.com</p>

                                <label for="visualizar_usuario_telefono"><b>Telefono:</b></label>
                                <p id="visualizar_usuario_telefono" name="visualizar_usuario_telefono">4464573</p>
                            </div>

                        </div>
                        <div class="tab-pane container fade" id="visualizar_muestras">


                          <div id="accordion">

                            <div class="card">
                              <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                  Muestra 1
                                </a>
                              </div>
                              <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                  <div class="form-row">
                                      <div class="form-group col-md-2">
                                          <label for="visualizar_muestra_numero_1">Número</label>
                                          <input type="text" class="form-control" id="visualizar_muestra_numero_1" placeholder="Número" disabled>
                                      </div>
                                      <div class="form-group col-md-3">
                                          <label for="visualizar_muestra_codigo_1">Código</label>
                                          <input type="text" class="form-control" id="visualizar_muestra_codigo_1" placeholder="Código" disabled>
                                      </div>
                                      <div class="form-group col-md-6">
                                          <label for="visualizar_muestra_1">Muestra</label>
                                          <input type="text" class="form-control" id="visualizar_muestra_1" placeholder="Muestra" disabled>
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-md-3">
                                          <label for="visualizar_muestra_numero_interno_1">Número interno</label>
                                          <input type="text" class="form-control" id="visualizar_muestra_numero_interno_1" placeholder="Número interno" disabled>
                                      </div>
                                      <div class="form-group col-md-3">
                                          <label for="visualizar_muestra_fecha_recibo_1">Fecha de recibo</label>
                                          <input type="date" class="form-control" id="visualizar_muestra_fecha_recibo_1" disabled>
                                      </div>
                                      <div class="form-group col-md-3">
                                          <label for="visualizar_muestra_orden_compra_1">Orden de compra</label>
                                          <input type="text" class="form-control" id="visualizar_muestra_orden_compra_1" placeholder="Orden de compra" disabled>
                                      </div>
                                      <div class="form-group col-md-3">
                                          <label for="visualizar_muestra_factura_1">Factura</label>
                                          <input type="text" class="form-control" id="visualizar_muestra_factura_1" placeholder="Factura" disabled>
                                      </div>
                                  </div>
                                  <p>Análisis</p>
                                  <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                      <thead>
                                        <th>Nombre</th>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>A1</td>
                                        </tr>
                                        <tr>
                                          <td>A2</td>
                                        </tr>
                                        <tr>
                                          <td>B1</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="card">
                              <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                  Muestra 2
                                </a>
                              </div>
                              <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                  <div class="form-row">
                                      <div class="form-group col-md-2">
                                          <label for="visualizar_muestra_numero_2">Número</label>
                                          <input type="text" class="form-control" id="visualizar_muestra_numero_2" placeholder="Número" disabled>
                                      </div>
                                      <div class="form-group col-md-3">
                                          <label for="visualizar_muestra_codigo_2">Código</label>
                                          <input type="text" class="form-control" id="visualizar_muestra_codigo_2" placeholder="Código" disabled>
                                      </div>
                                      <div class="form-group col-md-6">
                                          <label for="visualizar_muestra_2">Muestra</label>
                                          <input type="text" class="form-control" id="visualizar_muestra_2" placeholder="Muestra" disabled>
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-md-3">
                                          <label for="visualizar_muestra_numero_interno_2">Número interno</label>
                                          <input type="text" class="form-control" id="visualizar_muestra_numero_interno_2" placeholder="Número interno" disabled>
                                      </div>
                                      <div class="form-group col-md-3">
                                          <label for="visualizar_muestra_fecha_recibo_2">Fecha de recibo</label>
                                          <input type="date" class="form-control" id="visualizar_muestra_fecha_recibo_2" disabled>
                                      </div>
                                      <div class="form-group col-md-3">
                                          <label for="visualizar_muestra_orden_compra_2">Orden de compra</label>
                                          <input type="text" class="form-control" id="visualizar_muestra_orden_compra_2" placeholder="Orden de compra" disabled>
                                      </div>
                                      <div class="form-group col-md-3">
                                          <label for="visualizar_muestra_factura_2">Factura</label>
                                          <input type="text" class="form-control" id="visualizar_muestra_factura_2" placeholder="Factura" disabled>
                                      </div>
                                  </div>
                                  <p>Análisis</p>
                                  <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                      <thead>
                                        <th>Nombre</th>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>A1</td>
                                        </tr>
                                        <tr>
                                          <td>A2</td>
                                        </tr>
                                        <tr>
                                          <td>B1</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>


                        </div>
                        <div class="tab-pane container fade" id="visualizar_observaciones">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="visualizar_formato_ingreso_muestra">Formato de ingreso de muestra</label>
                                    <input type="text" class="form-control" id="visualizar_formato_ingreso_muestra" name="visualizar_formato_ingreso_muestra" placeholder="Formato" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="idioma_reporte">Idioma del reporte: </label>
                                    <p>
                                        <input type="radio" name="visualizar_idioma_reporte" id="visualizar_idioma_reporteES" value="8809 ES" disabled>8809 ES
                                        <input type="radio" name="visualizar_idioma_reporte" id="visualizar_idioma_reporteEN" value="8992 EN" disabled>8992 EN
                                    </p>
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="visualizar_mrl">MRL</label>
                                    <input type="text" class="form-control" id="visualizar_mrl" name="visualizar_mrl" placeholder="MRL" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="visualizar_fecha_lab">Fecha de llegada al laboratorio</label>
                                    <input type="date" class="form-control" id="visualizar_fecha_lab" name="visualizar_fecha_lab" disabled>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="visualizar_fecha_ei">Fecha de envío al laboratorio</label>
                                    <input type="date" class="form-control" id="visualizar_fecha_ei" name="visualizar_fecha_ei" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="visualizar_fecha_eri">Fecha de recibo de informes</label>
                                    <input type="date" class="form-control" id="visualizar_fecha_eri" name="visualizar_fecha_eri" disabled>
                                </div>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="Sí" id="visualizar_notif_e" name="visualizar_notif_e" disabled>
                                    <span class="form-check-sign"></span>
                                    Notificación de envío al cliente
                                </label>
                            </div>


                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="Sí" id="visualizar_envio_ti" name="visualizar_envio_ti" disabled>
                                    <span class="form-check-sign"></span>
                                    Envío de todos los informes
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="Sí" id="visualizar_cliente_cr" name="visualizar_cliente_cr" disabled>
                                    <span class="form-check-sign"></span>
                                    El cliente confirmó de recibido
                                </label>
                            </div>
                        </div>
                        <div class="tab-pane container fade" id="visualizar_facturacion">
                            <p>La funcionalidad de facturación se agregará próximamente</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>