<div class="modal fade" tabindex="-1" role="dialog" id="modal-visualizar-orden">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#visualizar_info">Orden Interna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#visualizar_muestras">Muestras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#visualizar_observaciones">Observaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#visualizar_facturacion">Facturación</a>
                    </li>
                </ul>
                    <div class="tab-content">
                        <div class="tab-pane container active" id="visualizar_info">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="hidden" class="form-control" id="visualizar_idOI" name="visualizar_idOI">
                                    <label for="visualizar_estatus">Estatus</label>
                                    <input type="text" class="form-control" id="visualizar_estatus" name="visualizar_estatus" placeholder="estatus">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="fecha_envio">Fecha Envío</label>
                                    <input type="date" class="form-control" id="visualizar_fecha_envio" name="visualizar_fecha_envio" placeholder="Fecha de envío">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="visualizar_localidad">Localidad</label>
                                    <input type="text" class="form-control" id="visualizar_localidad" name="visualizar_localidad" placeholder="Localidad">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="visualizar_guia_envio">Guía de Envío</label>
                                    <input type="text" class="form-control" id="visualizar_guia_envio" placeholder="Guía de envío">
                                </div>

                            </div>
                            <div class="form-row">

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="link_resultados">Link de Resultados</label>
                                    <input type="text" class="form-control" id="visualizar_link_resultados" name="visualizar_link_resultados" placeholder="Link de resultados">
                                </div>
                            </div>

                            <div id="info-cliente">
                                <label for="visualizar_usuario_empresa"><b>Empresa:</b></label>
                                <p id="visualizar_usuario_empresa" name="visualizar_usuario_empresa"></p>

                                <label for="visualizar_usuario_email"><b>Usuario:</b></label>
                                <p id="visualizar_usuario_email" name="visualizar_usuario_email"></p>

                                <label for="visualizar_usuario_contactos"><b>Contactos:</b></label>
                                <p id="visualizar_usuario_contactos" name="visualizar_usuario_contactos"></p>

                            </div>

                        </div>
                        <div class="tab-pane container fade" id="visualizar_muestras">
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          Collapsible Group Item #1
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        Collapsible Group Item #2
      </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
          Collapsible Group Item #3
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
  </div>
                        </div>
                        <div class="tab-pane container fade" id="visualizar_observaciones">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="visualizar_formato_ingreso_muestra">Formato de ingreso de muestra</label>
                                    <input type="text" class="form-control" id="visualizar_formato_ingreso_muestra" name="visualizar_formato_ingreso_muestra" placeholder="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="idioma_reporte">Idioma del reporte: </label>
                                    <p>
                                        <input type="radio" name="visualizar_idioma_reporte" id="visualizar_idioma_reporteES" value="8809 ES">8809 ES
                                        <input type="radio" name="visualizar_idioma_reporte" id="visualizar_idioma_reporteEN" value="8992 EN">8992 EN
                                    </p>
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="visualizar_mrl">MRL</label>
                                    <input type="text" class="form-control" id="visualizar_mrl" name="visualizar_mrl" placeholder="MRL">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="visualizar_fecha_eri">Fecha esperada de recibo de informes</label>
                                    <input type="date" class="form-control" id="visualizar_fecha_eri" name="visualizar_fecha_eri" placeholder="">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="visualizar_fecha_lab">Fecha de llegada al lab</label>
                                    <input type="date" class="form-control" id="visualizar_fecha_lab" name="visualizar_fecha_lab" placeholder="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="visualizar_fecha_ei">Fecha de envío de informes</label>
                                    <input type="date" class="form-control" id="visualizar_fecha_ei" name="visualizar_fecha_ei" placeholder="">
                                </div>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="Sí" id="visualizar_notif_e" name="visualizar_notif_e">
                                    <span class="form-check-sign"></span>
                                    Notificación de envío al cliente
                                </label>
                            </div>


                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="Sí" id="visualizar_envio_ti" name="visualizar_envio_ti">
                                    <span class="form-check-sign"></span>
                                    Envío de todos los informes
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="Sí" id="visualizar_cliente_cr" name="visualizar_cliente_cr">
                                    <span class="form-check-sign"></span>
                                    El cliente confirmó de recibido
                                </label>
                            </div>


                        </div>
                        <div class="tab-pane container fade" id="visualizar_facturacion">
                            <p>Aki va la wea de facturación</p>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>