.tabla-icon{
    font-size: 25px;
}

#delete-icon-modal{
    font-size: 35px;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

div{
    word-wrap: break-word;
}