<!-- Modal que forma parte de la USV07-07 -->
<div class="modal fade" id="agregar_analisis" tabindex="-1" role="dialog" aria-labelledby="agragar_analisis_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="exampleModalLongTitle">Agregar Análisis</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam maxime quod provident veniam ea soluta odio facilis eos assumenda eligendi, dignissimos nisi quis, molestias, nobis voluptatem adipisci at beatae. Omnis.
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
</div>