<!-- Modal que forma parte de la USV07-07 -->
<div class="modal fade" id="ver_analisis" tabindex="-1" role="dialog" aria-labelledby="ver_analisis_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="exampleModalLongTitle">Información de Análisis</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-block m-4" id="ver_info">
                    <div class="row my-3">
                        <div class="col-sm-12 col-md-6 font-weight-bold">
                            Código: <span id="codigo_analisis" class="text-justify font-weight-normal">A1</span>
                        </div>
                        <div class="col-sm-12 col-md-6 font-weight-bold">
                            Nombre: <span id="nombre_analisis" class="text-justify font-weight-normal">Análisis A1</span>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-sm-12 col-md-6 font-weight-bold">
                            Precio: <span id="precio_analisis" class="text-justify font-weight-normal">$1,000</span>
                        </div>
                        <div class="col-sm-12 col-md-6 font-weight-bold">
                            Fecha: <span id="fecha_analisis" class="text-justify font-weight-normal">01/10/2019</span>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-sm-12 font-weight-bold">
                            Descripción: <span id="descripcion_analisis" class="text-justify font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, at aperiam voluptatum soluta cumque, et veniam doloremque deleniti adipisci placeat, quo quam iste libero inventore ea beatae provident repudiandae animi.</span>
                        </div>
                    </div>
                </div>
                <div class="d-none m-4" id="editar_info">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCodigo">Código</label>
                                <input type="text" class="form-control input-analisis" id="editar_codigo_analisis" placeholder="1">
                                <div class="invalid-feedback">
                                    Por favor introduce un código
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputNombre">Nombre</label>
                                <input type="text" class="form-control input-analisis" id="editar_nombre_analisis" placeholder="Análisis 1">
                                <div class="invalid-feedback">
                                    Por favor introduce un nombre
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPrecio">Precio</label>
                                <input type="text" class="form-control input-analisis" id="editar_precio_analisis" placeholder="3500">
                                <div class="invalid-feedback">
                                    Por favor introduce un precio
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputDuracion">Duración aproximada</label>
                                <input type="text" class="form-control input-analisis" readonly id="editar-duracion" name="editar-duracion">
                                <div id="slider-range-editar"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDescripcion">Descripción</label>
                            <input type="text" class="form-control input-analisis" id="editar_desc_analisis" placeholder="Descripción de Análisis">
                            <div class="invalid-feedback">
                                Por favor introduce una descripción
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="btn-editar-analisis" class="btn btn-info d-block">Editar</button>
                <button type="submit" id="btn-guardar-cambios" class="btn btn-success d-none" onclick="editar_analisis()">Guardar</button>
            </div>
        </div>
    </div>
</div>