<!-- Modal que forma parte de la USV07-07 -->
<div class="modal fade" id="ver_cotizacion" tabindex="-1" role="dialog" aria-labelledby="ver_cotizacion_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title w-100 text-center" id="exampleModalLongTitle">COTIZACIÓN #---</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col ">
                            <span>Fecha de creación: </span><span class="text-secondary" id="fecha"> 99/99/9999</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span>Cliente: </span><span class="text-secondary" id="cliente_nombre">El Cliente</span>
                        </div>
                        <div class="col">
                            <span>Vendedor: </span><span class="text-secondary" id="vendedor">El Vendedor</span>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <h3 class="text-center">Análisis</h3>
                    </div>
                    <div class="row border border-dark">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Código</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>H-DPL001</td>
                                    <td>Pesticidas</td>
                                    <td>1</td>
                                    <td>$ 100</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>H-DPL002</td>
                                    <td>Azúcares</td>
                                    <td>1</td>
                                    <td>$ 100</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col ">
                            <span>Subtotal: $</span><span class="text-secondary" id="n_subtotal">200.00</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col ">
                            <span>IVA: </span><span class="text-secondary" id="n_iva"> 16% ($ 32.00)</span>%
                        </div>
                    </div>
                    <div class="row">
                        <div class="col ">
                            <span>Descuento: </span><span class="text-secondary" id="n_descuento">10</span>%
                        </div>
                    </div>
                    <div class="row border border-success bg-success">
                        <div class="col ">
                            <span>TOTAL: $</span><span class="text-white" id="n_total">212.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
