<!-- Vista principal de la USV07-07 -->
{% extends 'root/base.html' %}
{% load static %}

{% block optionalCSS %}
    <link href="{% static 'root/css/borrar-alerta.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="text-md-left text-center">
    <h2>Catálogo de Análisis</h2>
</div>
<div class="text-center text-md-right">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#agregar_analisis"><i class="nc-icon nc-simple-add"></i> Análisis</button>
</div>
<div class="table-responsive table-full-width">
    <table class="table table-hover table-responsive table-striped" id="tabla_analisis">
        <thead>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Tiempo Aprox.</th>
            <th></th>
        </thead>
        <tbody>
        {% for a in analisis %}
            <tr class="analisis-row" data-id="{{ a.id_analisis }}">
                <td class="analisis-codigo" data-id="{{ a.id_analisis }}">{{ a.codigo }}</td>
                <td class="analisis-nombre" data-id="{{ a.id_analisis }}">{{ a.nombre }}</td>
                <td class="analisis-desc" data-id="{{ a.id_analisis }}">{{ a.descripcion }}</td>
                <td class="analisis-precio" data-id="{{ a.id_analisis }}">${{ a.precio }}</td>
                <td class="analisis-tiempo" data-id="{{ a.id_analisis }}">{{ a.tiempo }}</td>
                <td class="analisis-acciones" data-id="{{ a.id_analisis }}">
                    <button type="button" class="btn btn-primary" onclick="cargar_analisis({{ a.id_analisis }})" data-toggle="modal" data-target="#ver_analisis"><i class="fa fa-eye tabla-icon"></i></button>
                    <button type="button" class="btn btn-danger" onclick="borrar_analisis({{ a.id_analisis }})" data-toggle="modal" data-target="#borrar_analisis"><i class="fa fa-trash tabla-icon"></i></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include './modals/agregar.html' %}
{% include './modals/borrar.html' %}
{% include './modals/visualizar.html' %}
{% endblock content %}

{% block optionalJS %}
<script src="{% static 'ventas/js/table.js' %}" type="text/javascript"></script>
<script src="{% static 'ventas/js/validaciones.js' %}" type="text/javascript"></script>
<script src="{% static 'root/js/notificaciones.js' %}" type="text/javascript"></script>
<script src="{% static 'ventas/js/slider.js' %}" type="text/javascript"></script>
<script src="{% static 'ventas/js/catalogo.js' %}" type="text/javascript"></script>
    {% if success_code == 1 %}
        <script>
            showNotification('top','right','Análisis registrado exitosamente')
        </script>
    {% elif success_code == -1 %}
         <script>
            showNotification('top','right','Hubo un error en el registro')
        </script>
    {% endif %}
{% endblock %}