<!-- Vista principal de la USV07-07 -->
{% extends 'root/base.html' %}
{% load static %}

{% block optionalCSS %}
    <link href="{% static 'root/css/borrar-alerta.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="text-md-left text-center">
    <h2>Catálogo de Análisis
        <button type="button" class="btn btn-secondary text-dark border-0" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Visualice y administre sus análisis">
          <i class="fa fa-question-circle fa-lg"></i>
        </button>
    </h2>
</div>
{% if request.session.userrole == 'Director' or request.session.userrole == 'SuperUser' %}
<div class="text-center text-md-right">
    <button type="button" class="btn btn-success" id="btn-agregar-analisis" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Despliega modal e ingrese información para registro de análisis."><i class="nc-icon nc-simple-add"></i> Análisis</button>
</div>
{% endif %}

<div class="table-responsive table-full-width">
    <table class="table table-hover table-responsive table-striped" id="tabla_analisis">
        <thead>
            <th>Código <i class="fa fa-sort"></i></th>
            <th>Nombre <i class="fa fa-sort"></i></th>
            <th>Descripción <i class="fa fa-sort"></i></th>
            <th>Precio <i class="fa fa-sort"></i></th>
            <th>Tiempo Aprox. <i class="fa fa-sort"></i></th>
            <th>Acreditado<i class="fa fa-sort"></i></th>
            <th data-container="body" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Visualice o elimine un análisis">Acciones <i class="fa fa-question-circle fa-lg"></i></th>
        </thead>
        <tbody>
        {% for a in analisis %}
            <tr class="analisis-row" data-id="{{ a.id_analisis }}">
                <td class="analisis-codigo" data-id="{{ a.id_analisis }}">{{ a.codigo }}</td>
                <td class="analisis-nombre" data-id="{{ a.id_analisis }}">{{ a.nombre }}</td>
                <td class="analisis-desc" data-id="{{ a.id_analisis }}">{{ a.descripcion }}</td>
                <td class="analisis-precio" data-id="{{ a.id_analisis }}">${{ a.precio }}</td>
                <td class="analisis-tiempo" data-id="{{ a.id_analisis }}">{{ a.tiempo }}</td>
                {% if a.acreditacion %}
                    <td class="analisis-acreditado" data-id="{{ a.id_analisis }}">Q</td>
                {% else %}
                    <td class="analisis-acreditado" data-id="{{ a.id_analisis }}">-</td>
                {% endif %}
                <td class="analisis-acciones" data-id="{{ a.id_analisis }}">
                    <button type="button" class="btn btn-primary" onclick="cargar_analisis({{ a.id_analisis }})" data-toggle="modal" data-target="#ver_analisis"><i class="fa fa-eye tabla-icon"></i></button>
                    <button type="button" class="btn btn-danger" onclick="borrar_analisis({{ a.id_analisis }})" data-toggle="modal" data-target="#borrar_analisis"><i class="fa fa-trash tabla-icon"></i></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include './modals/analisis/agregar.html' %}
{% include './modals/analisis/borrar.html' %}
{% include './modals/analisis/visualizar.html' %}
{% endblock content %}

{% block optionalJS %}
    <script src="{% static 'ventas/js/table.js' %}" type="text/javascript"></script>
    <script src="{% static 'ventas/js/analisis/catalogo.js' %}" type="text/javascript"></script>
    <script src="{% static 'ventas/js/analisis/agregar.js' %}" type="text/javascript"></script>
    <script src="{% static 'ventas/js/analisis/editar.js' %}" type="text/javascript"></script>
    <script src="{% static 'ventas/js/analisis/borrar.js' %}" type="text/javascript"></script>
        {% if success_code == 1 %}
            <script>
                showNotification('top','right','Análisis registrado exitosamente')
            </script>
        {% elif success_code == -1 %}
             <script>
                showNotification('top','right','Hubo un error en el registro')
            </script>
    {% endif %}
{% endblock %}
