<div class="modal fade" role="dialog" id="modal-crear-empresa">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 align="center">Crear empresa</h3>
                <br>
                <form id="crear_empresa_form">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="nombre_empresa">Nombre de la empresa</label>
                            <input type="text" class="form-control" id="nombre_empresa" name="nombre_empresa"
                                   placeholder="Nombre de la empresa" maxlength="50">
                            <div class="invalid-feedback">
                                Por favor ingresa el nombre de la empresa
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="telefono_empresa">Teléfono</label>
                            <input type="text" class="form-control" id="telefono_empresa" name="telefono_empresa"
                                   placeholder="Telefono de la empresa" maxlength="50">
                            <div class="invalid-feedback">
                                Por favor ingresa el teléfono
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="nombre_responsable_resultados">Responsable de resultados</label>
                            <input type="text" class="form-control" id="nombre_responsable_resultados" name="nombre_responsable_resultados"
                                   placeholder="Responsable de resultados" maxlength="100">
                            <div class="invalid-feedback">
                                Por favor ingresa el nombre del responsable de los resultados
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="correo_resultados">Correo resultados</label>
                            <input type="email" class="form-control" id="correo_resultados" name="correo_resultados"
                                   placeholder="resultados@resultados.com" maxlength="100">
                            <div class="invalid-feedback">
                                Por favor ingresa el correo de resultados
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6"></div>
                        <div class="invalid-mail-resultados p-3" hidden>
                            <p style="color:red">Ingresa un correo válido</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="nombre_responsable_pagos">Responsable de pagos</label>
                            <input type="text" class="form-control" id="nombre_responsable_pagos" name="nombre_responsable_pagos"
                                   placeholder="Responsable de pagos" maxlength="100">
                            <div class="invalid-feedback">
                                Por favor ingresa el nombre del responsable de los pagos
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="correo_pagos">Correo pagos</label>
                            <input type="email" class="form-control" id="correo_pagos" name="correo_pagos"
                                   placeholder="pagos@pagos.com" maxlength="100">
                            <div class="invalid-feedback">
                                Por favor ingresa el correo de pagos
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6"></div>
                        <div class="invalid-mail-pagos p-3" hidden>
                            <p style="color:red">Ingresa un correo válido</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="nombre_responsable_compras">Responsable de compras</label>
                            <input type="text" class="form-control" id="nombre_responsable_compras" name="nombre_responsable_compras"
                                   placeholder="Responsable de compras" maxlength="100">
                            <div class="invalid-feedback">
                                Por favor ingresa el nombre del responsable de los compras
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="correo_compras">Correo de compras</label>
                            <input type="email" class="form-control" id="correo_compras" name="correo_compras"
                                   placeholder="compras@compras.com" maxlength="100">
                            <div class="invalid-feedback">
                                Por favor ingresa el correo de compras
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6"></div>
                        <div class="invalid-mail-compras p-3" hidden>
                            <p style="color:red">Ingresa un correo válido</p>
                        </div>
                    </div>
                    <br>
                    <div class="text-right">
                        <button type="button" class="btn btn-success float-right" id="button_send_empresa" onclick="enviar_empresa()">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>