{% extends 'root/base.html' %}

{% block content %}
<script>

</script>
<h1>Órdenes internas</h1>
<div id="table">
  <table class="table tabl e-bordered table-responsive-md table-striped text-center">
    <thead>
      <tr>
        <th class="text-center">Orden Interna</th>
        <th class="text-center">Estatus</th>
        <th class="text-center">Empresa</th>
        <th class="text-center">Usuario</th>
        <th class="text-center">Fecha</th>
        <th class="text-center">Visualizar</th>
        <th class="text-center">Modificar</th>
        <th class="text-center">Borrar</th>
      </tr>
    </thead>
    <tbody>
      <!--<tr>
        <td class="pt-3-half">-1</td>
        <td class="pt-3-half">Boceto</td>
        <td class="pt-3-half">IMPULSE</td>
        <td class="pt-3-half">oswaldo</td>
        <td class="pt-3-half">04/10/19</td>
        <td>
          <span class="table-view"><button type="button"
              class="btn btn-info btn-rounded btn-sm my-0"><i class="fa">&#xf002;</i></button></span>
        </td>
        <td>
          <span class="table-edit"><button type="button"
              class="btn btn-primary btn-rounded btn-sm my-0" data-toggle="modal" data-target="#myModal"><i class="fa">&#xf044;</i></button></span>
        </td>
        <td>
          <span class="table-remove"><button type="button"
              class="btn btn-danger btn-rounded btn-sm my-0"><i class="fa">&#xf1f8;</i></button></span>
        </td>
      </tr>-->
      {% for o in ordenes %}
      <tr>
        <td class="pt-3-half">{{ o.idOI }}</td>
        <td class="pt-3-half">{{ o.estatus }}</td>
        <td class="pt-3-half">{{ o.empresa }}</td>
        <td class="pt-3-half">{{ o.usuario }}</td>
        <td class="pt-3-half">{{ o.fecha_muestreo }}</td>
        <td>
          <span class="table-view"><button type="button"
              class="btn btn-info btn-rounded btn-sm my-0"><i class="fa">&#xf002;</i></button></span>
        </td>
        <td>
          <span class="table-edit"><button type="button"
              class="btn btn-primary btn-rounded btn-sm my-0" data-toggle="modal" data-target="#myModal"><i class="fa">&#xf044;</i></button></span>
        </td>
        <td>
          <span class="table-remove"><button type="button"
              class="btn btn-danger btn-rounded btn-sm my-0"><i class="fa">&#xf1f8;</i></button></span>
        </td>
      </tr>
      {% endfor %}
      <!-- This is our clonable table line -->
    </tbody>
  </table>
</div>

{% include './modals/editar_orden_interna.html' %}


{% endblock content %}