{% extends 'root/base.html' %}

{% block content %}
<script>

</script>
<h1>Órdenes internas</h1>
<div id="table">
  <table class="table tabl e-bordered table-responsive-md table-striped text-center">
    <thead>
      <tr>
        <th class="text-center">Orden Interna</th>
        <th class="text-center">Estatus</th>
        <th class="text-center">Empresa</th>
        <th class="text-center">Usuario</th>
        <th class="text-center">Fecha</th>
        <th class="text-center">Visualizar</th>
        <th class="text-center">Modificar</th>
        <th class="text-center">Borrar</th>
      </tr>
    </thead>
    <tbody>
      {% include 'procesamiento_reportes/modals/oi_lista.html' %}
    </tbody>
  </table>
</div>

{% include './modals/editar_orden_interna.html' %}
{% endblock content %}