{% extends 'root/base.html' %}
{% load static %}

{% block optionalCSS %}
<style>
    body{
        background-color: rgb(243,245,258,0.3) !important;
    }
</style>
{% endblock %}

{% block content %}

<div class="text-center">
    <h3>Usted no puede realizar ingreso de muestras en este momento</h3>
    <h5>Contacte al administrador para volver a despegar con nosotros</h5>
    <img class="w-50" src="{% static 'reportes/img/loadingRocket.gif' %}" alt="Gif de cohete esperando a ser lanzado">
</div>

{% endblock %}

{% block optionalJS %}{% endblock %}