{% extends 'root/base.html' %}
{% load static %}

{% block optionalCSS %}
<style>
    body{
        background-color: rgb(243,245,258,0.3) !important;
    }
</style>
{% endblock %}

{% block content %}

<div class="text-center">
    <h3>Tiene un estado de deudor y no puede hacer ingresos de muestras</h3>
    <h5>Actualice su estado poniéndose al corriente con los pagos y vuelva a despegar con nosotros</h5>
    <img class="w-50" src="{% static 'reportes/img/loadingRocket.gif' %}" alt="Gif de cohete esperando a ser lanzado">
</div>

{% endblock content %}

{% block optionalJS %}{% endblock %}