{% extends 'root/base.html' %}

<script>
{% block jquery %}
{% endblock %}
</script>

{% block content %}

<h2 class="mb-3 mt-3">Información del solicitante</h2>

<form action="{% url 'ingresar_muestras' %}" method="post">
  {% csrf_token %}
  <div class="row mt-0 pt-0 mb-0 pb-0">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card-header">
            <h4 class="card-title">Datos del Solicitante</h4>
          </div>
          <br>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                    <label for="nombre">Nombre del Agricultor</label>
                    <input type="text" class="form-control was-validated" placeholder="Pedro Perez Lopez" value="" id="nombre" name="nombre" minlength="1" required>
                </div>
              </div>
              <div class="col-md-7 pl-1">
                <div class="form-group">
                  <label>Dirección</label>
                  <input type="text" class="form-control" placeholder="Juan Pablo II, Chihuahua, Chihuahua" value="" id="direccion" name="direccion" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                    <label>País de Origen</label>
                    <select name="country" class="form-control countries" id="countryId" required>
                      <option selected value="" disabled>Selecciona el país...</option>
                    </select>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                    <label>Estado de Origen</label>
                    <select name="state" class="form-control states" id="stateId" required>
                      <option selected value="" disabled>Selecciona el estado...</option>
                    </select>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-0 pt-0 mb-0 pb-0">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card-header">
            <h4 class="card-title">Datos del los resultados</h4>
          </div>
          <br>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                    <label>Idioma de los Resultados</label>
                    <select class="form-control" id="idioma" name="idioma" required>
                      <option selected value="" disabled>Selecciona el idioma...</option>
                      <option>Español</option>
                      <option>Inglés</option>
                    </select>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1 pt-1 pb-5">
    <div class="col-md-7">
    </div>
    <div class="col-md-2">
      <a href="#" class="btn btn-danger btn-block">Cancelar</a>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-success btn-block">Continuar</button>
    </div>
  </div>
</form>

{% endblock content %}

{% block optionalJS %}
  <script src="//geodata.solutions/includes/countrystatecity.js"></script>
{% endblock %}
