{% extends 'root/base.html' %}

<script>
{% block jquery %}
{% endblock %}
</script>


{% block content %}


<h2>Información de muestra</h2>

<form method="post" action="{% url 'ingreso_cliente' %}" class="needs-validation">
  {% csrf_token %}
  <input type="text" class="form-control" id="nombre" name="nombre" value={{nombre}} required hidden>
  <input type="text" class="form-control" id="direccion" name="nombre" value={{direccion}} required hidden>
  <!--<input type="text" class="form-control" id="pais" name="nombre" value={{pais}} required hidden>-->
  <!--<input type="text" class="form-control" id="estado" name="nombre" value={{estado}} required hidden>-->
  <input type="text" class="form-control" id="idioma" name="idioma" value={{idioma}} required hidden>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Producto</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Producto</label>
                <input type="text" class="form-control" placeholder="Producto" name="producto" id="producto" required>
              </div>
            </div>
            <div class="col-md-7 pl-1">
              <div class="form-group">
                <label>Variedad</label>
                <input type="text" class="form-control" placeholder="Variedad" name="variedad" id="variedad" required>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Datos de la muestra</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 pr-1">
              <div class="form-group">
                <label>Parcela</label>
                <input type="text" class="form-control" placeholder="Parcela" id="parcela" name="parcela" required>
              </div>
            </div>
            <div class="col-md-7 pl-1">
              <div class="form-group">
                  <div class="form-group">
                    <label>País destino</label>
                    <select name="country" class="form-control countries" id="countryId" required>
                      <option selected value="" disabled>Selecciona el país...</option>
                    </select>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Clave de muestra</label>
                <input type="text" class="form-control" placeholder="Clave de muestra" value="" name="clave_muestra" id="clave_muestra" required>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Análisis a Aplicar</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-5 pr-1">
            </div>
            <div class="col-md-3 pl-1">
              <label>Análisis restantes</label>
            </div>
          </div>
          {% if all_analysis %}
            {% for analysis in all_analysis %}
              <div class="row">
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="analisis{{analysis.analisis.id_analisis}}">
                        <span class="form-check-sign"></span>
                        {{ analysis.analisis.nombre }}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 pl-1">
                  <div class="form-group">
                    <input type="number" class="form-control" value={{analysis.cantidad}} id="" required disabled>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="otro" id="otro">
                    <span class="form-check-sign"></span>
                    Otro
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="number" name="enviar" id="enviar" value=0 hidden>
    </div>
  </div>
  <div class="row">
      <div class="col-md-5">
    </div>
    <div class="col-md-2">
      <a href="{% url 'ingreso_cliente' %}" class="btn btn-danger btn-block">Atrás</a>
    </div>
    <div class="col-md-2">
      <button onclick="guardar_muestra()" type="submit" class="btn btn-primary btn-block">Guardar</button>
    </div>
    <div class="col-md-2">
      <button onclick="enviar_muestra()" type="submit" class="btn btn-success btn-block">Enviar</button>
    </div>
  </div>
</form>

{% endblock content %}

{% block optionalJS %}
  <script src="//geodata.solutions/includes/countrystatecity.js"></script>
  <script>
    function guardar_muestra(){
        var enviar = document.getElementById("enviar").value;
        document.getElementById("enviar").value=0;
    }
    function enviar_muestra(){
        var enviar = document.getElementById("enviar").value;
        document.getElementById("enviar").value=1;
    }
  </script>
{% endblock %}
