{% extends 'root/base.html' %}
{% load static %}

{% block optionalCSS %}

{% endblock %}

{% block content %}
<h1>Órdenes internas</h1>
<div id="table">
    <table class="table tabl e-bordered table-responsive-md table-striped text-center">
        <thead>
            <tr>
                <th class="text-center">Orden Interna</th>
                <th class="text-center">Estatus</th>
                <th class="text-center">Empresa</th>
                <th class="text-center">Usuario</th>
                <th class="text-center">Localidad</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for o in ordenes %}
            <tr id="oi-{{o.idOI}}">
                <td class="pt-3-half oiData oi_idOI">{{ o.idOI }}</td>
                <td class="pt-3-half oiData oi_estatus">{{ o.estatus }}</td>
                <td class="pt-3-half oiData oi_empresa">{{ o.usuario.empresa }}</td>
                <td class="pt-3-half oiData oi_usuario">{{ o.usuario.user }}</td>
                <td class="pt-3-half oiData oi_fecha_muestreo">{{ o.localidad }}</td>
                <td colspan="2">
                    <button type="button" class="btn btn-primary" onclick="cargar_info_oi({{ o.idOI }})" data-toggle="modal" data-target="#modal-orden-interna">
                        adsa
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include './modals/paquete.html' %}
{% include './modals/ver-orden.html' %}
{% endblock content %}

{% block optionalJS %}
    <script src="{% static 'reportes/js/orden.js' %}" type="text/javascript"></script>
{% endblock %}