{% extends 'root/base.html' %}

{% block content %}
{% load static %}





<script src="{% static 'root/js/core/jquery.3.2.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'root/js/core/popper.min.js' %}" type="text/javascript"></script>


<h1>Órdenes internas</h1>
<div id="table">
  <table class="table tabl e-bordered table-responsive-md table-striped text-center">
    <thead>
      <tr>
        <th class="text-center">Orden Interna</th>
        <th class="text-center">Estatus</th>
        <th class="text-center">Empresa</th>
        <th class="text-center">Usuario</th>
        <th class="text-center">Fecha</th>
        <th class="text-center">Visualizar</th>
        <th class="text-center">Modificar</th>
        <th class="text-center">Borrar</th>
      </tr>
    </thead>
    <tbody>
      <!--<tr>
        <td class="pt-3-half">-1</td>
        <td class="pt-3-half">Boceto</td>
        <td class="pt-3-half">IMPULSE</td>
        <td class="pt-3-half">oswaldo</td>
        <td class="pt-3-half">04/10/19</td>
        <td>
          <span class="table-view"><button type="button"
              class="btn btn-info btn-rounded btn-sm my-0"><i class="fa">&#xf002;</i></button></span>
        </td>
        <td>
          <span class="table-edit"><button type="button"
              class="btn btn-primary btn-rounded btn-sm my-0" data-toggle="modal" data-target="#myModal"><i class="fa">&#xf044;</i></button></span>
        </td>
        <td>
          <span class="table-remove"><button type="button"
              class="btn btn-danger btn-rounded btn-sm my-0"><i class="fa">&#xf1f8;</i></button></span>
        </td>
      </tr>-->
      {% for o in ordenes %}
      <tr>
        <td class="pt-3-half">{{ o.idOI }}</td>
        <td class="pt-3-half">{{ o.estatus }}</td>
        <td class="pt-3-half">{{ o.empresa }}</td>
        <td class="pt-3-half">{{ o.usuario }}</td>
        <td class="pt-3-half">{{ o.fecha_muestreo }}</td>
        <td>
          <span class="table-view"><button type="button"
              class="btn btn-info btn-rounded btn-sm my-0"><i class="fa">&#xf002;</i></button></span>
        </td>
        <td>
          <span class="table-edit"><button type="button"
              class="btn oi_info_actualizar3 btn-primary btn-rounded btn-sm my-0" id="{{ o.idOI }}"><i class="fa">&#xf044;</i></button></span>
        </td>
        <td>
          <span class="table-remove"><button type="button"
              class="btn btn-danger btn-rounded btn-sm my-0"><i class="fa">&#xf1f8;</i></button></span>
        </td>
      </tr>
      {% endfor %}
      <!-- This is our clonable table line -->
    </tbody>
  </table>
</div>



<!--<button type="button" class="btn asd btn-primary btn-rounded btn-sm my-0" id="3"><i class="fa">&#xf044;</i></button>-->

<div class="modal fade" tabindex="-1" role="dialog" id="modal33">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-body">

        <div id="receive_form">
          
        </div>
      </div>

      <div class="modal-footer">
        <input id="submitForm" class="btn btn-success" type="button" onclick="return confirm('¿Deseas confirmar tu inscripción?')" value="Guardar"/>
      </div>

    </div>
  </div>
</div>


<script type="text/javascript">
  
  $(function () {
    $('.oi_info_actualizar2').on('click', function(){
      var id = $(this).attr('id')
      //alert(3)
      $.ajax({
            type: "POST",
            url: "busqueda/"+id,
            dataType: 'json',
            data: {
              'id': id,
              'csrfmiddlewaretoken':"{{ csrf_token }}"
            },
            success : function(response) {
                //$('#getResultsNews').html(data);
                console.log(response.data)
              if(response){
                  alert(response.data)
              }else{
              }
            }
        })
    })



    $('.oi_info_actualizar3').on('click', function(){
      var id = $(this).attr('id')
    //alert(3);
      $.ajax({
            type: "POST",
            url: "busqueda2/"+id,
            data: {
              'id': id,
              'csrfmiddlewaretoken':"{{ csrf_token }}"
            },
            success : function(data) {
                $('#receive_form').html(data);
                
                $('#modal33').modal('show');
            }
        })
    })

    $('#submitForm').on('click', function(){
      //Código que carga todas las variables para mandarlas al deste
      var mrl = $('#id_mrl').val();
      alert(mrl);
    })






  });
  
</script>



{% endblock content %}
{% block optionalJS %}
    
{% endblock optionalJS %}